@charset "utf-8";

/*ヘッダー*/
header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;
    align-items: center;
    position: 0;
}

.header_link{
    margin-left: auto;
    margin-right: 10px;
}

.header_button{
    background: #c26552;
    border-radius: 10px;
    border: none;
    color: #fff;
    height: 40px;
    padding: 8px 20px;
    outline:invert;
}

.logo{
    height: 50px;
}


/*フッター*/
footer{
    background-color: goldenrod;
    text-align: center;
    color: #000;
}


/*全般設定*/

body{
    margin: 0;
    background-color: wheat;
}


