@charset "utf-8";

.forms{

    background-color: white;
    padding: 10px 10px 10px 10px;
}

form{
        /* グリッドレイアウト */
        display: grid; 
        grid-template-rows: 0.3fr 0.3fr 0.3fr;
        grid-template-columns: 150px 1fr;
}

.label1{
    grid-row: 1/2;
    grid-column: 1/2;
}

#signin-id{
    grid-row: 1/2;
    grid-column: 2/3;
}

.label2{
    grid-row: 2/3;
    grid-column: 1/2;
}

#signin-pass{
    grid-row: 2/3;
    grid-column: 2/3;
}

.form-button{
    grid-row: 3/4;
    grid-column: 2/3;
}