@charset "utf-8";

* {
    box-sizing: border-box;
  }

/*ヘッダー*/

/*-検索フォーム関連*/
form{
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.ra_img{
  display: block;
  width: 40px;
}
.ra1_img img{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
.ra2_img img{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}

/*(チェックで薄さ変更)*/
input[type="radio"] + label img {
  opacity:0.2;
}
input[type="radio"]:checked + label img {
  opacity:1;
}


form input {
  border-radius: 10px 0  0 10px;
  margin-left: 10px;
  width: 250px;
  height: 40px;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 1em;
  outline: none;
}

form input::placeholder {
  color: #8f8f8f;
}

.search_button {
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  border: none;
  background-color: #98e282;
  cursor: pointer;
}
.search_button::after {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
}

/*-検索フォーム関連ここまで*/

.mypage{
  background-image: url("../../others/images/topic/dami.jpeg");
  background-position: center; 
  background-size: 40px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1.5px solid #000000b0;
}
.mypage:hover{
  opacity:0.7;
}

.mypage_manu{
  background-color: rgb(252, 236, 220);
  position:fixed;
  top: 50px;
  right: 0px;
  height: 200px;
  width: 150px;
  border-radius: 0 0 0 10px;
}

.mypage_manu ul{
  height: 160px;
  list-style: none;
  padding-left: 10px;
  text-align: center;
}

.mypage_manu ul li a{
  color: #000;
  text-decoration:none;
}
.mypage_manu ul li a:hover{
  color: #919090;
}

.manu_pr{
  margin-top: 100px;
  font-size: 0.5em;
}

.cannotsee{
  display: none;
}

/*ヘッダー関連ここまで*/

.bookshelfs{
  display: grid;
  grid-template-rows: 91.5vh;
  grid-template-columns: 50px 500px 1fr;
}
/*左のナビゲーションバー*/
.bookshelf_manu{
  grid-row: 1/2;
  grid-column: 1/2;
  
  background-color: antiquewhite;
}
.tab{
  list-style: none;
  padding-left: 0;
}
.tab li.active a{
  background:#fff;
}
/*エリアの表示非表示と形状*/
.area {
  display: none;/*はじめは非表示*/
  opacity: 0;/*透過0*/
  background: #fff;
  padding:50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.bookshelf_manu ul li a span{
  font-size: 40px;
  margin-left: 4px;
  color: #000;
}
/*左のナビゲーションバー*/

.mybookshelf{
  grid-row: 1/2;
  grid-column: 2/3;
  
  background-color: white;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 1px 2px 12px 0 #00000042;
}
/*本棚リストのcss*/
  .mybookshelf ul{
    height: 75vh;
    width: auto;
    margin: 0px 40px 20px 40px;
    padding: 0;
    overflow: auto;
  }
  .mybookshelf ul li{
      list-style: none;
      margin-bottom: 10px;
  }
  .mybookshelf ul li a{
    display: flex;
  }

  .mybookshelf ul li a img{
    height: 100px;
    width: 100px;
  }
  .mybookshelf ul li a div{
    margin-left: 20px;
  }
  .mybookshelf ul li a div h3{
    margin-top: 10px;
    color: #000;
    text-decoration: none;
  }

.frendsbookshelf{
  grid-row: 1/2;
  grid-column: 3/4;
}

/*新規の本を登録*/
.new {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.new__arrow {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
}
.new__arrow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}
/*新規の本を登録ここまで*/